.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Press Start 2P', cursive;
}

h3 {
  font-family: 'Roboto', sans-serif;
}

.button-wrapper {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

button {
  font-family: 'Press Start 2P';
  width: 20%; 
  padding: 2%; 
  margin: 2%; 
}

